In [1]:
#data preprocessing template
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
data=pd.read_csv("Dataset")
x=data.iloc[:,:-1].values  #independant variable   #[starting row:ending row+1, starting column:ending column+1]
y=data.iloc[:,-1].values   #dependant variable     #[starting row:ending row+1, column number(no slicing)]
data
# pehle rows k lie location di he phr columns k lie location di he. more then onr dimensions use karte hen to iloc use karte hen 
# we have given ending point in x "-1" that means "purchased" k ilawa sare columns ek zayada number dete hen nah hamesha ending point se

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [29]:
x #you can see it here. purchased k ilawa sare columns hen

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [30]:
y #sirf "-1" means k bas yahi column chahiye. colon nahi lagate jab to direct exact point dete hen

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

# splitting the dataset into the training set and test set

In [31]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
# 20% data is kept for testing and 80% data is kept for training
# random state is 0 that means no random values will be taken from data all tha data used will be in sequencs.

In [32]:
x_test

array([['Germany', 30.0, 54000.0],
       ['Germany', 50.0, 83000.0]], dtype=object)

In [33]:
y_test

array(['No', 'No'], dtype=object)

In [34]:
y_train

array(['Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes'], dtype=object)

In [35]:
x_train

array([['Germany', 40.0, nan],
       ['France', 37.0, 67000.0],
       ['Spain', 27.0, 48000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Spain', 38.0, 61000.0],
       ['France', 44.0, 72000.0],
       ['France', 35.0, 58000.0]], dtype=object)